.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form_container {
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 18px 43px -20px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 18px 43px -20px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 18px 43px -20px rgba(0, 0, 0, 0.57);
}

.input {
    display: flex;
    gap: 0.5rem;
}

input {
    padding: 1rem 1rem;

}

button {
    border: none;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 255, 0.698);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgb(0, 0, 255);

    }

}